<!DOCTYPE html>

<html>

<head>

    <title>Add Task</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

<h1>Study Planner</h1>

<div class="planner">


    <div class="row">

        <button
                type="button"
                onclick="document.getElementById('assignmentInput').focus()">

            Assignment +

        </button>

        <input
                id="assignmentInput"
                type="text"
                placeholder="Write assignment">

        <input
                type="text"
                placeholder="Due on">

    </div>



    <div class="row">

        <button
                type="button"
                onclick="document.getElementById('lectureInput').focus()">

            Lecture +

        </button>

        <input
                id="lectureInput"
                type="text"
                placeholder="Write lecture">

        <input
                type="text"
                placeholder="Due on">

    </div>



    <div class="row">

        <button
                type="button"
                onclick="document.getElementById('projectInput').focus()">

            Project +

        </button>

        <input
                id="projectInput"
                type="text"
                placeholder="Write project">

        <input
                type="text"
                placeholder="Due on">

    </div>


</div>

</body>

</html>