<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studyplanner</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="home">

    <h1>Study Planner</h1>

    <p>
        Plan your assignments, lectures and projects ✨
    </p>

    <a href="/add-task">

        <button>

            Add Study Task

        </button>

    </a>

    <img
            src="/images/397b23dc5c5800b3a031afe09c21182f.jpg"
            alt="Study Image">

</div>

</body>
</html>